@model CarApplication.Models.Car.CarDeleteViewModel

<style>
    html, body {
        background-image: url('/images/winter.jpg');
        background-size: cover;
    }

    .semi-transparent-bg {
        background-color: rgba(255, 255, 255, 0.75);
        padding: 10px;
        border-radius: 10px;
    }
</style>

<h1>Delete</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <div class="semi-transparent-bg">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Id)
        </div>

        <div class="form-group row">
            <label asp-for="CarBrand" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CarBrand)
        </div>

        <div class="form-group row">
            <label asp-for="CarModel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CarModel)
        </div>

        <div class="form-group row">
            <label asp-for="CarYear" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CarYear)
        </div>

        <div class="form-group row">
            <label asp-for="CarColor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CarColor)
        </div>

        <div class="form-group row">
            <label asp-for="CarPrice" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CarPrice)
        </div>

        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CreatedAt)
        </div>

        <div class="form-group row">
            <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.UpdatedAt)
        </div>
        </div>
    </dl>
    <hr />
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="index" class="btn btn-primary">Index</a>
    </form>
</div>