@model IEnumerable<CarApplication.Models.Car.CarIndexViewModel>


<div class="h1">
    Cars
</div>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="cars" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">CarBrand</th>
                <th scope="col">CarModel</th>
                <th scope="col">CarYear</th>
                <th scope="col">CarColor</th>
                <th scope="col">CarPrice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@car.CarBrand</td>
                    <td>@car.CarModel</td>
                    <td>@car.CarYear</td>
                    <td>@car.CarColor</td>
                    <th>@car.CarPrice</th>
                </tr>

                rowNumber += 1;
            }

        </tbody>
    </table>
</form>