//CARAPP IS DONE
@model IEnumerable<CarApplication.Models.Car.CarIndexViewModel>

<style>
    html, body {
        background-image: url('/images/winter.jpg');
        background-size: cover; 
        color: white; 
    }

    table {
        background-color: rgba(255, 255, 255, 0.5);
        color: white; 
    }
</style>

<div class="h1" style="color: black;">
    Cars
</div>

    @{
        int rowNumber = 1;
    }

    <div>
        <a asp-action="create" asp-asp-controller="cars" class="btn btn-primary">Create</a>
    </div>

    <form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">CarBrand</th>
                <th scope="col">CarModel</th>
                <th scope="col">CarYear</th>
                <th scope="col">CarColor</th>
                <th scope="col">CarPrice</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@car.CarBrand</td>
                    <td>@car.CarModel</td>
                    <td>@car.CarYear</td>
                    <td>@car.CarColor</td>
                    <td>@car.CarPrice</td>
                    <td>
                        <a asp-action="details" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-outline-primary">Update</a>
                        <a asp-action="delete" asp-controller="cars" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;

            }

        </tbody>
    </table>
</form>